.chat__icon {
  border-radius:100%;
  width:50px;
  height:50px;
  background-color:white;
  align-items: center;
  justify-content: center;
  float:right;
  cursor:pointer;
  font-family:'roboto';
  font-weight:300;
  font-size:20px;
	position:absolute;
  bottom:20px;
  right:20px;
	pointer-events:all;
  &:hover, .chat__icon {
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
  }
  &--closed {
  	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
  }
  @include mq(700px){
    position:relative;
    bottom:0px;
    right:0px;
  }
}

.chat__icon-button {
  position:relative;
  font-size:24px;
  color: dodgerblue;
	opacity:1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(0deg);
	transition: all .2s;
  &--closed {
    font-size:16px;
  }
  &.hidden {
    opacity:0;
	  transform: translate(-50%,-50%) rotate(-90deg);    
  }
}