.project-single__container {
	position: absolute;
	top:0;
	left:0;
	height: calc(100vh - 65px);
	width:100%;
	margin-top: 40px;
	padding:20px;
	padding-left:calc(25px + 20px);
	box-sizing:border-box;
	background-color:yellow;
	overflow:auto;
	@include mq(700px){
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
	}
}

.project-single__copy {
	width:100%;
	box-sizing: border-box;
	// padding: .5rem 1rem;
	padding:0;
	@include mq(700px){
		width:50%;
		padding: 4rem 1rem 0;		
	}
	@include mq(1000px){
		padding: 4rem 10% 0;
	}
}

.project-single__title {
	font-size:28px;
	padding-bottom:10px;
	text-decoration:underline;
}

.project-single__description-container {
  border: 1px solid blue;
  padding: 14px;
  // box-shadow: 2px 2px 11px 4px rgba(0,0,0,0.5);
  background-color: white;
}

.project-single__description {
	font-size:18px;
	text-align:justify;
	line-height:1.2;
	@include mq(700px){
		font-size:22px;
		line-height:1.5;
	}
}

.project-single__image-container {
	width:100%;
	height:100%;
	flex:1;
	display:initial;
	@include mq(700px){
		width:50%;
		height:auto;
		flex:auto;
		display:flex;
		align-items:center;		
	}
}

.project-images__container {
    width: 100%;
		position:relative;
		margin:10px 0;
		overflow-y:scroll;
		@include mq(700px){
			height:100%;
		}
}

.project-images__item {
    width: 100%;
		display:flex;
		align-items:center;
		top:0;
		left:0;
		@include mq(700px){
			// position:absolute;
			height:100%;
		}
}

.project-images__image {
    width: 100%;
}