.highlight--blue {
	padding:2px 4px;
	background-color:blue;
	color:white;
}

.underline--blue {
	border-bottom:2px solid blue;
}

.highlight--purple {
	padding:2px 4px;
	background-color:rebeccapurple;
	color:white;
}

.highlight--orange {
	padding:2px 4px;
	background-color:orange;
	color:white;
}

.underline--orange {
	border-bottom:2px solid orange;
}
