/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {

  outline: 1px solid slategrey;
}


html {
  /*background-color:#fff;*/
  font-family:sans-serif;
}

body {
  margin:0;
  height:100vh;
  overflow:hidden;
}

/*
* Header
*/

.header {
  position:absolute;
  top:0;
	border-bottom:1px solid #000;
  width:100%;
  color:#000;
  height:40px;
  display:flex;
  align-items:center;
  z-index:10;
	background-color:#fff;
}

.header__title {
  font-weight:100;
  font-size:1rem;
  margin:0;
  min-width:33%;
  text-align:center;
  padding:0px 6px;
}

/*
* Main
*/

main {
  position:relative;
  height:calc(100vh - 65px);
  margin-top:40px;
	transform: translateX(0);
	transition:all .3s;
	z-index:10;
}

main.main--inactive {
	transform: translateX(calc(-100% + 25px));
	cursor: pointer;
}

main.main--inactive:hover {
    transform: translateX(calc(-100% + 35px));
}

.main__back-button {
	cursor:pointer;
	position:absolute;
	top: 10px;
	right: 5px;
	font-size:14px;
	transform: rotate(-90deg);
	transform-origin: 75%;
	color:white;
	opacity:0;
	transition:all .3s;
}

.main--inactive .main__back-button {
	opacity:1;
}

main:before {
	content: '';
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	background-color:blue;
}

/*
* Footer
*/

footer {
	height: auto;
	width:100%;
  position: absolute;
  bottom: 0;
	transform: translate(0, calc(100% - 25px));
	transition:transform .5s;
	z-index:20;
	border-top:1px solid black;
	background-color:white;
	padding-bottom:25px;
}

footer:hover{
	transform: translate(0, 0%);
}

footer:before {
	content:'';
	width: 100vw;
	height: 100vh;
	pointer-events:none;
	position: absolute;
	top: -100vh;
	left: 0;
	opacity:0;
	background-color: rgba(0,0,0,.2);
	transition:.3s all;
}

footer:hover:before {
	  content: '';
		opacity:1;
}

.footer-top {
  display:flex;
  align-items:center;
	justify-content:space-around;
  width:100%;
  height:25px;
  font-size:.8rem;
	padding: 0 0 20px 0;
}

.footer-top__text {
  width: 33%;
  text-align:center;
}

.footer-bottom {
	height: auto;
	display: flex;
	align-items: center;
	line-height: 1.4rem;
}

.footer-bottom__text {
	width:66.6%;
	display:flex;
	justify-content:center;
	box-sizing:border-box;
}

.footer-bottom__text p {
	padding:0 6px;
  font-size: 16px;
  font-family: 'roboto';
  font-weight: 100;
  line-height: 2;
}

.footer-bottom__image {
	width:33.3%;
	text-align:center;
	position:relative;
}

.footer-bottom__image img {
	max-width:200px;
	/*opacity:.9;*/
	/*cursor:pointer;*/
	/*transition: all .3s;*/
}

.footer-bottom__image img:hover {
	/*opacity:1;*/
}

/*
* Project
*/

.project__dot {
	cursor:pointer;
	width:40px;
	height:40px;
	position:absolute;
	transition:all .2s;
	z-index:10;
}

/*.project__dot:before {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	content:'💼';
}*/

.project__dot:after {
	content:'';
	width:38px;
	height:38px;
	border:2px solid red;
	border-radius:100%;
	background-color:red;
	position:absolute;
	transition:all .2s;
	z-index:10;
}

.project__dot:hover:after {
	background-color:transparent;
}

/*
* Project Preview
*/

.project-preview__container {
	position:relative;
	width:100%;
	height:100%;
}

.project-preview__image-container {
	position:absolute;
	bottom:10px;
	left:10px;
	width:300px;
	height:200px;
	border:2px solid #fff;
	background-color:transparent;
	background-size:cover;
	background-position:center;
	transition:all .3s;
	overflow:hidden;
}

.project-preview__image-container--drawing {
	height:500px;
	width:340px;
	z-index:10;
	overflow:hidden;
}

.project-preview__image-container-child {
	position:relative;
	height:100%;
	width:100%;
	overflow:hidden;
}

.project-preview__image {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100%;
	height:auto;
	opacity:1;
	transition: all .3s;
}

.project-preview__image--hidden {
	opacity:0;
}

.project-preview__title {
	position:absolute;
	top: 10px;
	right: 20px;
	font-size:14px;
	transform: rotate(-90deg);
	transform-origin: 100%;
	color:white;
	opacity:1;
	transition: all .3s
}

.project-preview__title--hidden {
	opacity:0;
}

.main--inactive .project-preview__title {
	opacity:0;
}

/*
* Project Single
*/

.project-single__container {
	position: absolute;
	top:0;
	left:0;
	height: calc(100vh - 65px);
	width:100%;
	margin-top: 40px;
	padding:20px;
	padding-left:calc(25px + 20px);
	box-sizing:border-box;
	background-color:yellow;
	overflow:auto;
}

@media screen and (min-width: 700px) {
	.project-single__container {
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
	}
}

.project-single__copy {
	width:100%;
	box-sizing: border-box;
	padding: .5rem 1rem;
}

@media screen and (min-width: 700px) {
	.project-single__copy {
		width:50%;
		padding: 4rem 1rem 0;
	}
}

@media screen and (min-width: 1000px) {
	.project-single__copy {
		padding: 4rem 10% 0;
	}
}

.project-single__title {
	font-size:28px;
	padding-bottom:10px;
	text-decoration:underline;
}

.project-single__description-container {
  border: 4px solid blue;
  padding: 14px;
  box-shadow: 2px 2px 11px 4px rgba(0,0,0,0.5);
  background-color: white;
}

.project-single__description {
	font-size:22px;
	text-align:justify;
	line-height:1.5;
}

.project-single__image-container {
	width:100%;
	height:100%;
	flex:1;
	display:initial;
}

@media screen and (min-width: 700px) {
	.project-single__image-container {
		width:50%;
		height:auto;
		flex:auto;
		display:flex;
		align-items:center;
	}
}

/*
* Span Styles
*/
.highlight--blue {
	padding:2px 4px;
	background-color:blue;
	color:white;
}

.underline--blue {
	border-bottom:2px solid blue;
}

.highlight--purple {
	padding:2px 4px;
	background-color:rebeccapurple;
	color:white;
}

.highlight--orange {
	padding:2px 4px;
	background-color:orange;
	color:white;
}

.underline--orange {
	border-bottom:2px solid orange;
}

/*
* Flickity Carousel
*/
/*
.flickity-slider {
	height:inherit;
}

@media screen and (min-width: 700px) {
	.flickity-slider {
		display: flex;
		align-items: center;
	}
}

.carousel__container {
	width:100%;
	/*height:80%;*/
	/*padding-top:5%;*/
	/*position:relative;
	border:2px solid red;
	max-height: 86vh;
}

.flickity-viewport {*/
	/*height:60%;*/
	/*overflow:auto;
}

@media screen and (min-width: 700px) {
	.flickity-viewport {
		height:100%;
		overflow:hidden;
	}
}

.carousel__cell {
	width:100%;
}

.carousel__image {
	width:100%;
}

.flickity-page-dots {
	height:100px;
	position:relative;
	bottom:0;
	padding-top:5px;
}

@media screen and (min-width: 700px) {
	.flickity-page-dots {*/
		/*height:20%;*/
		/*height:100px;*/
	/*}
}

.flickity-page-dots .dot {
	width:25px;
	height:25px;
	background-color:red;
	position:absolute;
}

.flickity-page-dots .dot:first-child {
	top:10%;
	left:10%;
}
.flickity-page-dots .dot:nth-child(2) {
	top:60%;
	left:60%;
}
.flickity-page-dots .dot:nth-child(3) {
	top:20%;
	left:80%;
}
.flickity-page-dots .dot:nth-child(4) {
	top:40%;
	left:40%;
}
.flickity-page-dots .dot:nth-child(4) {
	top:80%;
	left:5%;
}*/

/* Non Scrolling Flickity Styles */
/*.carousel__container--no-scroll .flickity-slider {
  transform: none !important;
}

.carousel__container--no-scroll .carousel__cell {
  width: 100%;
  left: 0 !important;
  opacity: 0;
  z-index: -1;
}

.carousel__container--no-scroll .carousel__cell.is-selected {
  opacity: 1;
  z-index: 0;*/
/*}*/

.project-images__container {
    width: 100%;
    height: 100%;
		position:relative;
}

.project-images__item {
    height: 100%;
    width: 100%;
		display:flex;
		align-items:center;
		position:absolute;
		top:0;
		left:0;
}

.project-images__image {
    width: 100%;
}

.project-images__item--hidden {

}

/********************************************
*
* Chat Styles
*
********************************************/

.chat__container {
  width:300px;
  position:absolute;
  bottom:10px;
  right:10px;
	z-index:10;
	pointer-events:all;
}

.chat__container--click-through{
	pointer-events:none;
}

.main--inactive .chat__container {
    transform: translateX(-30px);
}

.chat__window {
  height:400px;
  background-color:lightgray;
  margin-bottom:10px;
  color:black;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
  background-color: white;
  position:relative;
  background-color:#fcfcfc;
  font-family: 'Open Sans';
  font-size: 14px;
	opacity:1;
	pointer-events:all;
	transition:all .2s;
}
.chat__icon {
  border-radius:100%;
  width:50px;
  height:50px;
  background-color:white;
  align-items: center;
  justify-content: center;
  float:right;
  cursor:pointer;
  font-family:'roboto';
  font-weight:300;
  font-size:20px;
	position:relative;
	pointer-events:all;
}

.chat__icon:hover, .chat__icon {
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
}

.chat__icon--closed {
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
}

.chat__icon-button {
  position:relative;
  font-size:24px;
  /*color: #457fca;*/
  color: dodgerblue;
	opacity:1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(0deg);
	transition: all .2s;
}

.chat__icon-button--closed {
  font-size:16px;
}

.chat__icon-button.hidden {
  opacity:0;
	transform: translate(-50%,-50%) rotate(-90deg);
}

.chat__window.hidden {
	opacity:0;
	transform: translate(0, 10px);
	pointer-events:none;
}

/*
* Chat Form
*/

.chat-form {
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  align-items:center;
  background-color:#fff;
  border-top:1px solid #eee;
  color:#333;
}

.chat-form__submit {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  /*color: #55a;*/
	color: dodgerblue;
}

.chat-form__attachment {
	position: absolute;
  bottom: 12px;
  right: 44px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  /* color: #55a; */
  color: dodgerblue;
  transform: rotateY(180deg);
  transform-origin: 50%;
	cursor:pointer;
}

.chat-form__file {
	position: absolute;
  bottom: 12px;
  right: 44px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  /* color: #55a; */
  color: dodgerblue;
  transform: rotateY(180deg);
  transform-origin: 50%;
	width:16px;
	opacity:0;
	cursor:pointer;
	overflow:hidden;
}

.chat-form__draw {
	position: absolute;
  bottom: 12px;
  right: 72px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  /* color: #55a; */
  color: dodgerblue;
	cursor:pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
  padding-left:5px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
  padding-left:5px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
  padding-left:5px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
  padding-left:5px;
}



/*
* Chat Expandable Input
*/

.chat-form__input {
  width:68%;
  margin:10px;
  position:relative;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #ddd;
  padding-left:5px;
}

.chat-form__input > #chat-form__textarea,
.chat-form__input > pre {
  padding: 5px;
  background: transparent;
  font: 300 13px/16px 'Open Sans', arial, sans-serif;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
  color:#333;
  outline:none;
	cursor: text;
}

.chat-form__input > #chat-form__textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  /* This height is used when JS is disabled */
  height: 100px;
}

.chat-form__input.active > #chat-form__textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

.chat-form__input > pre {
  display: none;
}
.chat-form__input.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}

/*
* Chat Message
*/

.chat-message {
  margin: 10px;
  padding: 16px;
  max-width:75%;
  border-radius:4px;
  font-weight:300;
  font-size:12px;
  line-height:1.4;
  clear:both;
	background: dodgerblue;
}

.chat-message--client{
  float:right;
  /*background: #457fca;
  /*background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */*/
  /*background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */*/
	background: dodgerblue;
	color:#fff;
}
.chat-message--admin{
  background-color:#ededed;
  float:left;
}
.chat-message--intro {
  text-align: center;
  color: #777;
  line-height: 1.4;
	background-color: transparent;
	margin: 0 auto;
}

.chat-message--image {
	padding:6px;
}

.chat-message--image img {
	width:100%;
	background-color: white;
}

/*
* Chat Message
*/

.chat-header {
	background-color: dodgerblue;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  height:50px;
  padding-right:50px; /* to center on the title */
  box-shadow:0 3px 8px -2px rgba(0,0,100,.6);
	position:relative;
}

.chat-header__image-container {
  width: 30px;
  height: 30px;
  margin-right:10px;
  position: relative;
  overflow: hidden;
}

.chat-header__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.chat-header__title {
  font-family: 'roboto';
  font-weight: 300;
}

.chat-header__status {
  font-size: 9px;
  color: #ddd;
  font-weight: 100;
}

.chat-message__messages {
  height: 303px;
  overflow-y: scroll;
}

/*
* Drawing
*/

#canvas {
	position: absolute;
	bottom: 0px;
	left:0;
	width: 300px;
	height: 500px;
	opacity:0;
	background-color:transparent;
}

.project-preview__image-container--drawing #canvas {
	background-color: rgba(255,255,255,.5);
	width: 300px;
	height: 500px;
	bottom:0;
	background-color:white;
	cursor:crosshair;
	opacity:1;
	transition: all .3s;
}

.options__container {
	position: absolute;
	left: calc(100% - 40px);
	opacity:0;
}

.project-preview__image-container--drawing .options__container {
	opacity:1;
	position: absolute;
	top: -2px;
	/*left: calc(100% + 2px);*/
	border-left: 2px solid #9999ff;
	z-index: 100;
	background-color: white;
	transition: opacity .3s;
	text-align:center;
	height:504px;
}

.options__color {
	width:20px;
	height:20px;
	border:2px solid black;
	border-radius: 100%;
	margin:4px auto;
	transition: all .2s;
	cursor:pointer;
}

.options__size {
	border: 2px solid black;
	border-radius: 100%;
	margin:4px auto;
	transition: all .2s;
	cursor:pointer;
}

.options__color:hover, .options__size:hover {
	opacity:.75;
}

.options__color--white {
	background-color:white;
}
.options__color--orange {
	background-color:orange;
}
.options__color--yellow {
	background-color:yellow;
}
.options__color--green {
	background-color:green;
}
.options__color--red {
	background-color:red;
}
.options__color--purple {
	background-color:purple;
}
.options__color--blue {
	background-color:blue;
}
.options__color--black {
	background-color:black;
}
.options__color--active {
	border:2px solid white;
}
.options__color--white.options__color--active {
	border:2px solid #ccc;
}
.options__color--gradient {
	background: #d72cdd; /* Old browsers */
	background: -moz-linear-gradient(top,  #d72cdd 12%, #46ba23 38%, #e8d425 63%, #ff0000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #d72cdd 12%,#46ba23 38%,#e8d425 63%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #d72cdd 12%,#46ba23 38%,#e8d425 63%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d72cdd', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
;
}

.options__size--five {
	margin-top:14px;
	width:14px;
	height:14px;
}
.options__size--ten {
	width:16px;
	height:16px;
}
.options__size--twenty {
	width:20px;
	height:20px;
}

.options__size--active {
	border:2px solid lightgray;
}

.options__clear {
	padding:10px 2px 2px;
	cursor:pointer;
}

/*.options__send {
    font-size: 20px;
    padding: 22px 0px;
}*/

.options__file-container {
	position:relative;
}

.options__file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
	cursor:pointer;
}

.options__send, .options__attachment {
    font-size: 20px;
    margin: 22px 0px;
		cursor:pointer;
}
